<?xml version="1.0"?>
<launch>

    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
    <arg name="name" default="base_laser_"/>
    <arg name="sim" default="false"/>

    <!-- load parameter -->
    <rosparam ns="$(arg name)front" command="load" file="$(find cob_devices_test)/config/$(arg name)front.yaml"/>

    <!-- start laser driver -->
    <node unless="$(arg sim)" ns="$(arg name)front" pkg="cob_sick_s300" type="cob_sick_s300" name="driver" respawn="false" output="screen">
        <remap from="scan" to="scan_raw"/>
    </node>

    <!-- load parameter -->
    <rosparam ns="$(arg name)left" command="load" file="$(find cob_devices_test)/config/$(arg name)left.yaml"/>

    <!-- start laser driver -->
    <node unless="$(arg sim)" ns="$(arg name)left" pkg="cob_sick_s300" type="cob_sick_s300" name="driver" respawn="false" output="screen">
        <remap from="scan" to="scan_raw"/>
    </node>

    <!-- load parameter -->
    <rosparam ns="$(arg name)right" command="load" file="$(find cob_devices_test)/config/$(arg name)right.yaml"/>

    <!-- start laser driver -->
    <node unless="$(arg sim)" ns="$(arg name)right" pkg="cob_sick_s300" type="cob_sick_s300" name="driver" respawn="false" output="screen">
        <remap from="scan" to="scan_raw"/>
    </node>



    <!-- start rviz with configuration -->
    <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find cob_devices_test)/config/Inbetriebnahme.rviz" respawn="false" output="screen" />


</launch>
