<?xml version="1.0"?>
<launch>

    <arg name="robot" value="cob4"/>

    <include file="$(find mojin_bringup)/drivers/light.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="component_name" value="light_torso"/>
    </include>
    <node ns="light_torso" pkg="cob_devices_test" type="test_light.py" name="test_light" output="screen"/>

</launch>
