<?xml version="1.0"?>
<launch>

    <arg name="camera_name" default="torso_cam3d_"/>
    <arg name="robot" value="cob4"/>

 
    <!-- start light controller -->
    <node pkg="cob_light" type="cob_light" name="light_torso" output="screen">
            <rosparam command="load" file="$(find mojin_hardware_config)/robots/$(arg robot)/config/light_torso.yaml"/>
            <param name="sim_enabled" value="false"/>
    </node>

    <!-- start light script -->
    <node pkg="cob_devices_test" type="test_light.py" name="test_light" output="screen" args="torso"/>



    <!-- start rviz with configuration -->
    <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find cob_devices_test)/config/Inbetriebnahme.rviz" respawn="false" output="screen" />


</launch>
