<?xml version="1.0"?>
<launch>

    <arg name="camera_name" default="torso_cam3d_"/>

    <include unless="$(arg sim)" file="$(find realsense_camera)/launch/zr300_nodelet_rgbd.launch">
        <arg name="camera" value="$(arg camera_name)left"/>
        <arg name="num_worker_threads" value="2" />
        <arg name="serial_no" value=""/>
    </include>

    <include unless="$(arg sim)" file="$(find realsense_camera)/launch/zr300_nodelet_rgbd.launch">
        <arg name="camera" value="$(arg camera_name)right"/>
        <arg name="num_worker_threads" value="2" />
        <arg name="serial_no" value=""/>
    </include>

    <include unless="$(arg sim)" file="$(find realsense_camera)/launch/zr300_nodelet_rgbd.launch">
        <arg name="camera" value="$(arg camera_name)down"/>
        <arg name="num_worker_threads" value="2" />
        <arg name="serial_no" value=""/>
    </include>

    <!-- start rviz with configuration -->
    <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find cob_devices_test)/config/Inbetriebnahme.rviz" respawn="false" output="screen" />


</launch>
