<?xml version="1.0"?>
<launch>

    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
    <arg name="sim" default="false" />
    <arg name="cob4-1-t1" value="cob4-1-t1" />
    <arg name="max_duration" default="0"/>
    <arg name="max_rounds" default="0"/>
    <arg name="result_dir" />


    <!-- start dialog service -->
    <node pkg="cob_hardware_test_core" type="dialog.py" name="dialog_server"/>


    <!-- launch component or simulation-->
    <include file="$(find cob_bringup_sim)/launch/robot.launch" if="$(arg sim)" >
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- launch component or simulation-->
    <include file="$(find cob_bringup)/robot.launch" unless="$(arg sim)" >
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- launch navigation -->
    <include file="$(find cob_navigation_global)/launch/2dnav_ros_dwa.launch" >
            <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- include scripts -->
    <node name="component_test" pkg="cob_hardware_test_core" type="component_test_all.py" >
        <rosparam command="load" ns="/component_test/components" file="$(find cob_bringup_test)/config/$(arg robot)/all_components_test.yaml" />
        <param name="test_duration" value="$(arg max_duration)" />
        <param name="test_rounds" value="$(arg max_rounds)" />
        <param name="result_dir" value="$(arg result_dir)" />
    </node>

    <node name="sensor_test" pkg="cob_hardware_test_core" type="sensor_test_all_threaded.py" >
        <rosparam command="load" ns="/component_test/components" file="$(find cob_bringup_test)/config/$(arg robot)/all_components_test.yaml" />
        <param name="result_dir" value="$(arg result_dir)" />
    </node>


</launch>
